extends layout

block content
  div(id="form-body")
    h3 Sign the Peitition Against #[u #[em Everything]]
    br
    form(action="/", method="POST")
      input(name="name", type="text", placeholder="Name")
      br
      br
      input(name="email", type="email", placeholder="name@example.com")
      br
      br
      textarea(name="msg", placeholder="Tell us what you're angry about", id="textarea")
      br
      br
      button(name="submit", type="submit") Submit
    br
    br
    br
    p 
      a(href="/forum") See what others said!