doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type="image/png", href='../public/images/favicon-16x16.png', sizes="16x16")
    link(rel='icon', type="image/png", href='../public/images/favicon-32x32.png', sizes="32x32")
    link(rel="icon", href="../public/images/favicon.ico")
  body
    header
      h2 SAEU
      h3 Seniors Against Everything Union
      p #[em fuck this&#46 fuck that&#46]
    block content
    footer
      h6 Powered by WOW!
