doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2 SAEU
      h3 Seniors Against Everything Union
      p #[em fuck this&#46 fuck that&#46]
    block content
    footer
      h6 Powered by #[em WOW!]
