doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extrahead
  body
    header
      h2 
        a(href="/") SAEU
      h3 Seniors Against Everything Union
      p #[em fuck this&#46 fuck that&#46]
    block content
    footer
      h6 Powered by #[em WOW!]
